.bio {
  height: 100vh;
}

header {
  background-color: #333;
  /* padding: 2rem 8rem; */
}

body,
section,
article {
  overflow: auto !important;
}

article {
  background-color: rgb(191, 191, 191);
}

.no-break {
  white-space: nowrap;
}

.contact {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

.logos {
  padding-top: 2rem;
  text-align: center;
}

img {
  max-width: 900px;
}

.contact .icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  font-size: 3rem;
}

.contact .icons a:nth-child(even) {
  margin-left: 0.5rem;
  text-decoration: none;
  color: black;
}

section {
  padding: 5rem 8rem;
  flex-grow: 200;
  color: #191717;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 2rem;
}

h1 {
  font-family: "Roboto Serif", serif;
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 4rem;
  letter-spacing: -0.12rem;
  line-height: 0.8em;
  color: var(--red);
}

p {
  margin-bottom: 2rem;
}

blockquote {
  padding: 1rem 2rem;
  margin: 2rem 0;
  font-size: 1.7rem;
  line-height: 2.5rem;
  font-style: italic;
  border-left: 10px solid #666;
}

@media (max-width: 768px) {
  header {
    padding: 2rem;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .contact {
    flex-direction: column;
  }

  .contact .icons {
    margin-top: 2rem;
    justify-content: flex-start;
  }
}
