@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,400;0,8..144,600;1,8..144,100&display=swap");
@import url("./icomoon/style.css");

:root {
  --maxImageSize: 1000px;
  --headerHeight: 120px;
  --boxShadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.35);
}

* {
  box-sizing: border-box;
}

article {
  display: flex;
  flex-direction: column;
  transition: background-color, 0.5s ease-in;
}

article > * {
  flex-grow: 1;
}

header {
  height: var(--headerHeight);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  align-items: center;
}

header img {
  height: 100%;
  width: auto;
  max-height: 50px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

ul li a {
  color: white;
  text-decoration: none;
}

body,
html {
  background-color: #333;
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow: hidden;
  font-family: "Roboto Serif", sans-serif;
}

.loader {
  background-image: url("./images/loader.svg");
  background-repeat: no-repeat;
  background-position: center;
}

a.step {
  font-size: 5rem;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  margin-top: -2.5rem;
  transition: all 0.25s ease;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  opacity: 0.3;
}

a.step:hover {
  color: rgba(255, 255, 255, 0.85);
  transform: scale(120%);
  opacity: 1;
}

.hidden {
  display: none;
  pointer-events: none;
}

.projects {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: visible;
  height: calc(100vh - var(--headerHeight));
  /* scroll-behavior: smooth; */
}

.projects::-webkit-scrollbar {
  display: none;
}

.projects.intro {
  animation: slideIn 0.5s ease;
}

@keyframes slideIn {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

.projects a.step {
  position: fixed;
  top: 50%;
  left: 1rem;
}

.projects a.step.next {
  right: 1rem;
  left: auto;
}

.project {
  position: relative;
  height: 100%;
  scroll-snap-align: start;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project img {
  opacity: 0;
  transition: opacity 1s ease;
  box-shadow: var(--boxShadow);
}

.project .img-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

.project img.loaded {
  opacity: 1;
}

.project .description {
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  padding: 1.3rem;
  font-size: 1.1rem;
  font-family: "Roboto Serif", sans-serif;
  font-weight: 100;
  line-height: 1.75rem;
  color: white;
  text-align: left;
}

/* breakpoints */

@media all and (orientation: portrait) {
  .project img {
    width: 100%;
    height: auto;
  }
}

@media all and (orientation: landscape) {
  .project img {
    height: 100%;
    width: auto;
  }

  .project .img-container {
    flex-grow: 200;
    height: 50%;
  }

  .project .description {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .img-container {
    padding-top: 5px;
  }
}

/* mobile overrides */
@media (max-width: 768px) {
  a.step {
    display: none;
  }
}
